<?xml version="1.0"?>
<launch>
  <node name="static_transform_broadcast" pkg="static_transform_util" type="static_tf2_broadcaster.py"
    args="laser 0 0 1 0 0 0">
  </node>

  <include file="$(find lms1xx)/launch/LMS1xx.launch">
    <arg name="host" value="192.168.0.2"/>
  </include>

  <include file="$(find axis_camera)/launch/axis.launch"/>

  <node name="axis_ptz" pkg="axis_camera" type="axis_ptz.py"/>

  <!-- Launch robot -->
  <node name="rosaria_node" pkg="rosaria" type="RosAria"/>

  <include file="$(find teleop_twist_joy)/launch/teleop.launch"/>

  <node name="teleop_joy" pkg="teleop_twist_joy" type="teleop_node">
    <remap from="cmd_vel" to="rosaria_node/cmd_vel"/>
  </node>
    
  <!--node name="teleop_key" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py">
    <remap from="cmd_vel" to="rosaria_node/cmd_vel"/>
  </node-->

</launch>
  
